body {
background-color:#ffffff;
margin:0;
}
body, div, p, li, a, span, b, div {
color:#36769C;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:12px;
}
img {
border:medium none;
}
input {
border:1px solid #B3B3B3;
color:#8499AF;
}
select {
border:1px solid #B3B3B3;
color:#8499AF;
behavior:expression(window.dropdown_menu_hack!=null?window.dropdown_menu_hack(this):120);
}
#Maindiv {
float:none;
text-align:left;
width:100%;
}
#Container {
clear:both;
float:none;
margin:0px\9;
width:100%;
}
#Header {
clear:both;
display:none;
float:left;
height:110px;
width:100%;
}
#Middle {
background-color:#FFFFFF;
clear:both;
float:left;
width:100%;
}
#Footer {
background-color:#4C7FA5;
clear:both;
float:left;
height:17px;
margin-top:5px;
width:100%;
}
#Footercenter {
float:none;
text-align:center;
width:775px;
}
#Footercenterhowto {
float:none;
text-align:center;
width:579px;
}
#Top {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/header_bg.jpg) no-repeat scroll 0 0;
clear:both;
float:left;
height:41px;
width:100%;
}
#logoimg {
clear:both;
float:left;
padding-left:12px;
position:absolute;
z-index:1;
}
.headerNav {
float:left;
height:41px;
width:100%;
}
#GlobalNav {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/top_nav_bg.gif) repeat-x scroll 0 50%;
clear:both;
float:left;
height:33px;
width:100%;
}
#rightmainleft {
float:left;
width:579px;
}
#rightmainright {
float:left;
padding-left:5px;
width:190px;
}
#topglobalnav {
clear:both;
float:left;
margin-top:35px;
position:absolute;
width:997px;
}
.content_box {
margin:0;
padding:10px 0 0;
width:960px;
}
#rightmain {
float:left;
padding-left:10px;
width:775px;
}
#middlebottom {
clear:both;
float:none;
padding:20px 10px 0px 10px;
width:auto;
padding:0 10px\9;
//left:218px;
//position:absolute;
//right:10px;
width:auto;
//left:218px\9;
position:static\9;
//right:10px\9;
//width:auto\9;
}
#GlobalNavButton {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0 0 0 135px;
}
#GlobalNavButton li {
display:inline;
}
#GlobalNavButton li a:link {
height:33px;
margin:0 5px 0 0;
}
#GlobalNavButton li a:visited {
height:33px;
margin:0 5px 0 0;
}
#GlobalNavButton li a img {
height:33px;
}
#welcomett_nav a img {
width:79px;
}
#welcomett_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/welcome_tt_nav.gif) no-repeat scroll center top;
float:left;
}
#welcomett_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/welcome_tt_nav.gif) no-repeat scroll center top;
float:left;
}
#welcomett_nav a:hover, #welcomett_nav.selected a:link, #welcomett_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/welcome_tt_nav_on.gif) no-repeat scroll center top;
float:left;
}
#seach_nav a img {
width:79px;
}
#seach_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/search_nav.gif) no-repeat scroll center top;
float:left;
}
#seach_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/search_nav.gif) no-repeat scroll center top;
float:left;
}
#seach_nav a:hover, #seach_nav.selected a:link, #seach_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/search_nav_on.gif) no-repeat scroll center top;
float:left;
}
#usermanagement_nav a img {
width:156px;
}
#usermanagement_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/user_management_nav.gif) no-repeat scroll center top;
float:left;
}
#usermanagement_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/user_management_nav.gif) no-repeat scroll center top;
float:left;
}
#usermanagement_nav a:hover, #usermanagement_nav.selected a:link, #usermanagement_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/user_management_nav_on.gif) no-repeat scroll center top;
float:left;
}
#sysadmin_nav a img {
width:184px;
}
#sysadmin_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/system_admin_nav.gif) no-repeat scroll center top;
float:left;
}
#sysadmin_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/system_admin_nav.gif) no-repeat scroll center top;
float:left;
}
#sysadmin_nav a:hover, #sysadmin_nav.selected a:link, #sysadmin_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/system_admin_nav_on.gif) no-repeat scroll center top;
float:left;
}
#auditreporting_nav a img {
width:135px;
}
#auditreporting_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/audit_reporting_nav.gif) no-repeat scroll center top;
float:left;
}
#auditreporting_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/audit_reporting_nav.gif) no-repeat scroll center top;
float:left;
}
#auditreporting_nav a:hover, #auditreporting_nav.selected a:link, #auditreporting_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/audit_reporting_nav_on.gif) no-repeat scroll center top;
float:left;
}
#help_nav a img {
width:59px;
}
#help_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/help_nav.gif) no-repeat scroll center top;
float:left;
}
#help_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/help_nav.gif) no-repeat scroll center top;
float:left;
}
#help_nav a:hover, #help_nav.selected a:link, #help_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/help_nav_on.gif) no-repeat scroll center top;
float:left;
}
#paroleesearch_text {
float:left;
padding:0 0 0 116px;
}
#welcomelogin_text {
color:#FFFFFF;
float:right;
font-size:12px;
font-weight:bold;
height:26px;
padding-right:12px;
}
#resetlogout_text {
color:#FFFFFF;
float:right;
font-size:12px;
font-weight:bold;
height:26px;
padding-right:12px;
}
#welcomelogin_text a:link {
color:#FFFFFF;
font-size:12px;
padding:0px 8px;
text-decoration:none;
}
#welcomelogin_text a:visited {
color:#FFFFFF;
font-size:12px;
padding:3px 8px;
text-decoration:none;
}
#welcomelogin_text a:hover {
background-color:#D26931;
color:#FFFFFF;
text-decoration:none;
}
#middletop {
float:left;
width:100%;
}
#middletopleft {
position:relative;
position:static\9;
right:auto;
left:0px\9;
width:198px;
float:left\9;
margin-left:10px;
margin-right:10px\9;
}
/*\*/ * html #middletopleft {
	margin-left:10px;
	}
#middletopright   
      {

left:218px;
right:10px;
width:auto;
float:right\9;
//left:218px\9;
position:static;
position/**/:/**/static\9;
right:auto\9;
//width:auto\9;
margin-right:10px\9;
  }
html>body #middletopright {
position/**/:/**/absolute;
}      

#paroleedetailspage #middletopright {
float:none;
left:auto;
margin:0 10px;
padding:0;
position:static;
width:auto;
}
#step1div {
float:left;
width:100%;
}
#step1divmiddlepart {
background-color:#D8D8D8;
float:none;
padding:8px 0;
width:auto;
}
#step1divmiddlepart div {
float:none;
line-height:17px;
margin:0 auto;
padding:5px;
width:100%;
}
#step1divmiddlepart div div {
width:auto;
}
#step1divmiddlepart input {
padding:2px 0px;
width:100%;
}
#step1divmiddlepart select {
width:100%;
}
#step1divmiddlepart div div {
float:left;
padding:0;
}
#step1divmiddlepart div.helpicon {
float:right;
padding:0 8px 0 0;
}
#step2divsearchdiv div.helpicon {
float:left;
padding:2px 0 0 8px;
}
#savedsearchesdiv {
clear:both;
float:left;
padding-left:10px;
padding-top:10px;
width:166px;
}
#savedsearchesdivmiddlepart {
background-color:#D8D8D8;
float:left;
padding:8px;
width:150px;
}
#savedsearchesdivmiddlepart div {
float:left;
line-height:17px;
padding:0 0 8px;
}
.savedname {
width:100px;
}
.deletelink {
width:50px;
}
#savedsearchesdivmiddlepart input {
padding:5px;
width:137px;
}
#savedsearchesdivmiddlepart select {
width:150px;
}
#savedsearchesdivmiddlepart div div {
float:left;
padding:0;
}
#savedsearchesdivmiddlepart div.helpicon {
float:left;
padding:0 0 0 8px;
}
#savedsearchesdivmiddlepart div.orangearrow img {
padding-right:7px;
padding-top:2px;
}
#step2div {
float:none;
width:auto;
}
#step2divtop {
clear:both;
float:left;
width:100%;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
}
#step2divtopleft {
float:left;
}
#step2divtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:97%;
}
#step2divtopright {
float:right;
}
#step2textdiv {
float:left;
}
#refinebydiv #step2textdiv {
float:left;
color:#FFFFFF;
font-size:15px;
font-weight:bold;
padding:5px;
}
#searchbydiv {
float:left;
width:100%;
}
#searchbydiv div div {
float:left;
width:98%;
}
#savesearchdiv {
float:right;
padding-right:7px;
}
#savesearchdiv a:link {
color:#FFFFFF;
text-decoration:none;
}
#savesearchdiv a:visited {
color:#FFFFFF;
text-decoration:none;
}
#savesearchdiv a:hover {
color:#FED804;
text-decoration:none;
}
#savesearchdiv span {
float:left;
padding-left:5px;
}
#saveseachtext {
color:#FFFFFF;
font-weight:bold;
padding-top:8px;
}
#savesearchdiv select {
margin-left:13px;
margin-top:5px;
width:133px;
}
#step2divgroupstate {
clear:both;
color:#C6632E;
float:left;
font-weight:normal;
width:100%;
}
#step2divgroupstate div {
padding:12px 0 5px 108px;
}
#step2divgroupstate input {
border:medium none;
}
#step2divsearchdiv {
clear:both;
float:left;
padding-top:20px;
width:100%;
}
#step2divsearchdiv div {
float:left;
padding-left:1px;
}
#step2divsearchdiv div input {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/search_input_bg.gif) repeat-x scroll 0 0;
border-width:2px;
padding:2px 0;
width:98%;
}
#step2divsearchdiv div div div {
padding-left:0;
padding-top:5px;
}
#step2divsearchdiv div.searchtext {
padding-top:5px;
padding-right:5px;
}
#step2divsearchdiv div.orangearrow {
padding-top:0;
width:131px;
}
#step2divsearchdiv div.orangearrow img {
padding-right:7px;
padding-top:2px;
float:left;
}
#step2divsearchdiv div.advancesearchtext {
padding-left:2px;
padding-top:2px;
width:100px;
}
#refinebydiv {
float:left;
width:100%;
}
#refinebydivtop {
clear:both;
float:left;
padding-top:20px;
width:100%;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 20px;
}
#refinebydivtopleft {
float:left;
}
#refinebydivtopmiddle {
float:none;
height:32px;
width:auto;
}
#refinebydivtopright {
float:left;
}
#step2textdiv {
float:left;
}
#savesearchdiv {
float:right;
padding-right:7px;
}
#savesearchdiv a:link {
color:#FFFFFF;
text-decoration:none;
}
#savesearchdiv a:visited {
color:#FFFFFF;
text-decoration:none;
}
#savesearchdiv a:hover {
color:#FED804;
text-decoration:none;
}
#savesearchdiv span {
float:left;
padding-left:5px;
}
#saveseachtext {
color:#FFFFFF;
font-weight:bold;
padding-top:8px;
}
#savesearchdiv select {
margin-left:13px;
margin-top:5px;
width:133px;
}
#refinebydivgroupstate {
clear:both;
color:#C6632E;
float:left;
font-weight:normal;
width:100%;
}
#refinebydivgroupstate div {
padding:12px 0 5px 108px;
}
#refinebydivgroupstate input {
border:medium none;
}
#refinebydivsearchdiv {
clear:both;
float:left;
width:761px;
}
#refinebydivsearchdiv div {
float:left;
padding-left:12px;
}
#refinebydivsearchdiv div input {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/search_input_bg.gif) repeat-x scroll 0 0;
border-width:2px;
padding:2px 0;
width:449px;
}
#refinebydivsearchdiv div.searchtext {
padding-top:5px;
}
#refinebydivsearchdiv div.orangearrow {
padding-top:5px;
}
#refinebydivsearchdiv div.advancesearchtext {
padding-top:2px;
}
#refinebybutton {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0px;
}
#refinebybutton li {
display:inline;
}
#refinebybutton li a:link {
margin:2px 1px 0 0;
padding:7px 5px 7px;
}
#refinebybutton li a:visited {
margin:2px 1px 0 0;
padding:7px 5px 7px;
}
#refinebybutton li a img {
height:33px;
}
#refinebybutton a img {
width:136px;
}
#refinebybutton a:link {
background:transparent url(../images/global/top_nav_selected.gif) repeat-x scroll center top;
color:#FFFFFF;
float:left;
}
#refinebybutton a:visited {
background:transparent url(../images/global/top_nav_selected.gif) repeat-x scroll center top;
color:#FFFFFF;
float:left;
}
#refinebybutton a:hover, #refinebybutton .selected a:link, #refinebybutton .selected a:visited {
background:transparent url(../images/global/orange_button_on_bg.gif) repeat-x scroll center top;
color:#ffffff;
float:left;
}
#refinebybuttondiv {
float:right;
}
#refinebybuttondiv a:link {
text-decoration:none;
}
#refinebybuttondiv a:visited {
text-decoration:none;
}
#refinebybuttondiv span {
float:left;
padding-left:5px;
}
#refinebybuttondiv {
font-weight:bold;
}
#refinebybuttondiv select {
margin-left:13px;
margin-top:5px;
width:133px;
}
#refinebydivsearchdiv div {
clear:both;
float:left;
padding-top:12px;
width:741px;
}
#refinebydivsearchdiv select {
margin-right:18px;
width:21%;
}
#refinebydivsearchdiv select.right {
margin-right:0;
}
#step3divtop {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 10px;
clear:both;
float:none;
padding-top:10px;
width:100%;
display:table;

}
#step3divtopleft {
float:left;
}
#step3divtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:auto;
}
#step3divtopright {
float:left;
}
#step2textdiv {
float:left;
}
#savesearchdiv {
float:right;
padding-right:7px;
}
#savesearchdiv a:link {
color:#FFFFFF;
text-decoration:none;
}
#savesearchdiv a:visited {
color:#FFFFFF;
text-decoration:none;
}
#savesearchdiv a:hover {
color:#FED804;
text-decoration:none;
}
#savesearchdiv span {
float:left;
padding-left:5px;
}
#saveseachtext {
color:#FFFFFF;
font-weight:bold;
padding-top:8px;
}
#savesearchdiv select {
margin-left:13px;
margin-top:5px;
width:133px;
}
#stepsortNavButton {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0 0 0 0;
}
#stepsortNavButton li {
display:inline;
}
#stepsortNavButton li a:link {
height:32px;
margin:0 0 0 1px;
}
#stepsortNavButton li a:visited {
height:32px;
margin:0 0 0 1px;
}
#stepsortNavButton li a img {
height:32px;
}
#stepsortNavButton #list_nav a img {
width:41px;
}
#stepsortNavButton #list_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/list_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#stepsortNavButton #list_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/list_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#stepsortNavButton #list_nav a:hover, #stepsortNavButton #list_nav.selected a:link, #stepsortNavButton #list_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/list_button_on.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#stepsortNavButton #listphoto_nav a img {
width:98px;
}
#stepsortNavButton #listphoto_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/list_and_photo_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#stepsortNavButton #listphoto_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/list_and_photo_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#stepsortNavButton #listphoto_nav a:hover, #stepsortNavButton #listphoto_nav.selected a:link, #stepsortNavButton #listphoto_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/list_and_photo_button_on.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#stepsortNavButton #map_nav a img {
width:78px;
}
#stepsortNavButton #map_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/map_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#stepsortNavButton #map_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/map_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#stepsortNavButton #map_nav a:hover, #stepsortNavButton #map_nav.selected a:link, #stepsortNavButton #map_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/map_button_on.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#stepsortNavButton #map_all_nav a img {
width:70px;
}
#stepsortNavButton #map_all_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/map_all_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#stepsortNavButton #map_all_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/map_all_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#stepsortNavButton #map_all_nav a:hover, #stepsortNavButton #map_all_nav.selected a:link, #stepsortNavButton #map_all_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/map_all_button_on.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#refinments {
clear:both;
float:none;
width:auto;
padding-top:2px;
}
ul#refinmentsbutton {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
/*background-color:#D26931;*/
float:left;
clear:both;
white-space:nowrap;
}
#refinmentsbutton li {
display:inline;
}
#refinmentsbutton li {
margin:3px 1px 0 0;
padding:7px;
}
#refinmentsbutton li a img {
height:10px;
}
#refinmentsbutton a img {
width:12px;
}
#refinmentsbutton li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#4C7FA5 none repeat scroll 0 0;
color:#FFFFFF;
float:left;
}
#refinmentsbutton li.selected {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#D26931 none repeat scroll 0 0;
color:#FFFFFF;
float:left;
}
#refinmentsbutton a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#4C7FA5 none repeat scroll 0 0;
color:#FFFFFF;
padding:1px 3px;
}
#refinmentsbutton a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#4C7FA5 none repeat scroll 0 0;
color:#FFFFFF;
padding:1px 3px;
}
#refinmentsbutton a:hover, #refinmentsbutton .selected a:link, #refinmentsbutton .selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#D26931 none repeat scroll 0 0;
color:#FFFFFF;
}
#refinmentsbuttondiv {
float:left;
padding-right:1px;
clear:both;
width:auto;
}
#refinmentsbuttondiv a:link {
text-decoration:none;
}
#refinmentsbuttondiv a:visited {
text-decoration:none;
}
#refinmentsbuttondiv span {
float:left;
padding-left:5px;
}
#refinmentsbuttondiv {
font-weight:bold;
}
#refinmentsbuttondiv select {
margin-left:13px;
margin-top:5px;
width:133px;
}
#resultpagenumber {
float:right;
margin-top:10px;
padding-right:10px;
font-weight:bold;
}
#currentsimilarresultdivtopmiddle #resultpagenumber {
color:#FFFFFF;
}
.pagenumber a.selected:link {
margin:2px;
}
.pagenumber a.selected:visited {
margin:2px;
}
.pagenumber a.selected:hover {
margin:2px;
}
.pagenumber a:link {
margin:2px;
}
.pagenumber a:visited {
margin:2px;
}
.pagenumber a:hover {
margin:2px;
}
.pagenumberlineup a:link {
margin:2px;
color:#FFFFFF;
}
.pagenumberlineup a:visited {
margin:2px;
color:#FFFFFF;
}
.pagenumberlineup a:hover {
margin:2px;
color:#FFFFFF;
}
#mapimage {
clear:both;
float:left;
padding-left:10px;
padding-top:5px;
width:auto; height:600px; top:10px; float:none; margin-bottom:23px;
}
.clearboth {
clear:both;
margin:0;
padding:0;
}
#advsearchbody {
background-color:#FFFFFF;
}
#advSearchTop {
padding:8px 8px 8px 25px;
}
#advSearchTop div#advSearchTopfirstrow {
clear:both;
float:none;
padding-top:0;
width:auto;
}
#advSearchTop div {
clear:both;
float:none;
padding-top:10px;
width:100%;
display:table;
}
#advSearchTop div div {
clear:none;
float:left;
padding:0px;
width:auto;
}
#advSearchTop div div {
clear:none;
float:left;
line-height:15px;
padding:0;
}
#advSearchTop #advSearchTopMiddle div {
float:left;
line-height:15px;
padding:0 20px;
}
#advSearchTop input {
/*padding:5px;*/
width:137px;
}
#advSearchTop select {
/*height:22px;*/
width:137px;
}
#advSearchTop select#reason {
width:140px;
}
#advSearchTop #advSearchTopMiddlelast {
float:left;
line-height:15px;
padding:0 0px 0 36px;
}
#advSearchTop #advSearchTopMiddlelast span {
clear:both;
color:#555555;
float:left;
padding-top:6px;
}
#advSearchTop #advSearchToprightlast input {
margin-right:6px;
width:59px;
}
.w90 {
width:90px;
}
#advSearchTop input.w90 {
width:80px;
}
#advSearchMiddle1 {
clear:both;
float:left;
padding:12px;
}

#advsearchbody #radialSearchTop {
padding:12px;
width:590px;
}

#advsearchbody #refinebymiddle {
/*border:1px solid #CCCCCC;*/
padding-bottom:12px;
width:588px;
float:left;
}

.tattoo #advSearchMiddle2right {
margin-left:108px;
}

.smt#advSearchMiddle2 .andor1 {
/*margin-top:27px;*/
margin-top:auto;
position:relative;
top:38px;
}

.tattoo#advSearchMiddle2 #advSearchMiddle2left .floatl {
float:left;
padding-right:1px;
}

.tattoo#advSearchMiddle2 #advSearchMiddle2right .floatl {
float:left;
padding-right:1px;
}

#advancedSearch #advSearchMiddle2.radialbuttons {
float:none;
width:310px;
}


#advsearchbody #radialSearchTop #refinebymiddlediv {
float:left;
margin:0 auto;
width:500px;
margin-left:10px;

}

#advsearchbody #radialSearchTop #regFelonyNotify {
background-color:#CAC8C9;
clear:both;
float:left;
width:590px;
padding:0px;
margin:0px;
}

#regFelonyNotify div {
float:left;
}
#regFelonyNotify div.middle {
padding-left:10px;
width:auto;
}
#regFelonyNotify1 {
background-color:#E8E6E7;
clear:both;
float:left;
width:100%;
}
#regFelonyNotify1 div {
float:left;
}
#regFelonyNotify .regFelonyNotifyfloatr {float:right}
#regFelonyNotify1 div.middle {
padding-left:10px;
padding-top:6px;
width:auto;
}
.mt23 {
margin-top:23px;
}
#regFelonyNotify1 .mt23r {
margin-top:23px;
float:right}

#regFelonyNotify1 input.firstinput {
border:medium none;
margin:0 3px 0 0;
}
#regFelonyNotify1 input {
border:medium none;
margin:0 3px 0 5px;
padding:0;
}
#advSearchMiddle2 {
clear:both;
float:none;
width:auto;
margin:0 auto;
}
#advSearchMiddle2 div {
float:left;
/*width:181px;*/
}
#advSearchMiddle2 .andor {
float:left;
/*padding-right:35px;
width:180px;*/
margin-top:16px;
}
#advSearchMiddle2 div div {
float:none;
width:auto;
}
#advSearchMiddle2 select {
/*height:26px;*/
width:221px;
}
#advSearchMiddle2 input {
/*height:26px;*/
margin-top:2px
width:137px;
}
#advSearchMiddle2 img {
padding-left:18px;
vertical-align:top;
}
#advSearchMiddle2 input.radio {
border:medium none;
height:auto;
vertical-align:top;
width:auto;
}
#advSearchMiddle2 span {
padding:0 10px;
vertical-align:top;
}
#advSearchMiddle2 #refinmentsbuttondiv {
padding-top:20px;
width:284px;
}
#advSearchMiddle2 #refinmentsbuttondiv img {
padding-left:0;
vertical-align:top;
}
#advSearchMiddle2 #refinmentsbuttondiv li {
padding:3px;
}
#advSearchMiddle2 #refinmentsbuttondiv li.selected {
padding:0;
}
#advSearchbottom1 {
clear:both;
float:left;
padding:12px;
}
#regFelonyNotify {
background-color:#CAC8C9;
clear:both;
float:left;
width:588px;
}
#regFelonyNotify div {
float:left;
}
#regFelonyNotify div.bottom {
padding-left:10px;
width:568px;
}
#regFelonyNotify1 {
background-color:#E8E6E7;
clear:both;
float:left;
width:588px;
}
#regFelonyNotify1 div {
float:left;
}
#regFelonyNotify1 div.bottom {
padding-left:10px;
padding-top:6px;
width:568px;
}
.mt23 {
margin-top:23px;
}
#regFelonyNotify1 input.firstinput {
border:medium none;
margin:0 3px 0 0;
}
#regFelonyNotify1 input {
border:medium none;
margin:0 3px 0 5px;
padding:0;
}
#advSearchbottom2 {
background-color:#E8E6E7;
clear:both;
float:left;
width:572px;
}
#advSearchbottom2 div {
float:left;
margin:4px;
width:264px;
}
#advSearchbottom2 div div {
float:none;
width:auto;
}
#advSearchbottom2 select {
height:26px;
width:114px;
}
#advSearchbottom2 img {
padding-left:18px;
vertical-align:top;
}
#advSearchbottom2 input.radio {
border:medium none;
vertical-align:top;
}
#advSearchbottom2 span {
padding-left:18px;
vertical-align:top;
}
#advSearchbottom2 #refinmentsbuttondiv {
padding-top:20px;
width:240px;
}
#advSearchbottom2 #refinmentsbuttondiv img {
padding-left:0;
vertical-align:top;
}
#advSearchbottom2 #refinmentsbuttondiv li {
padding:3px;
}
#advSearchbottom2 #refinmentsbuttondiv li.selected {
padding:0;
}
#advSearchbottom2 div#advSearchbottom2top {
clear:both;
float:left;
margin:0;
padding:0;
width:572px;
}
#advSearchbottom2 #advSearchbottom2top div {
clear:none;
float:left;
height:4px;
margin:0;
padding:0;
}
#advSearchbottom2 #advSearchbottom2top img {
height:4px;
margin:0;
padding:0;
}
#advSearchbottom2 #advSearchbottom2top .middle {
height:4px;
width:564px;
}
#advSearchbottom2main .advsearchbutton {
float:left;
margin-top:10px;
text-align:center;
width:auto;
margin-left:10px;
}
.advsearchbutton input{
border:none;
}
.searchbutton {
float:none;
text-align:center;
width:auto;
}
div#advSearchbottom2main {
clear:both;
float:none;
/*padding-left:12px;
padding-top:10px;
margin-left:149px;*/
width:auto;
}
div#advSearchbottom2main input {width:auto; height:auto}
#advSearchbottom2top {
height:4px;
}
.greylefttopcurve {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/lightgrey_box_curve_top_left.gif) no-repeat scroll center top;
}
.greyrighttopcurve {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/lightgrey_box_curve_top_right.gif) no-repeat scroll right top;
}
.greyleftbottomcurve {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/lightgrey_box_curve_bottom_left.gif) no-repeat scroll center bottom;
}
.greyrightbottomcurve {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(../images/global/lightgrey_box_curve_bottom_right.gif) no-repeat scroll right bottom;
}
#advSearchTop #helpdiv {
clear:both;
float:none;
padding:0;
text-align:right;
width:100%;
}
#suspectinfodiv {
float:left;
padding-left:10px;
width:166px;
}
#suspectinfodivmiddlepart {
background-color:#D8D8D8;
float:left;
height:111px;
padding:8px 8px 8px 24px;
width:133px;
}
#suspectinfodivmiddlepart div {
color:#306289;
float:left;
font-size:11px;
line-height:17px;
padding:0 0 8px;
}
#suspectinfodivmiddlepart input {
padding:5px;
width:137px;
}
#suspectinfodivmiddlepart select {
width:150px;
}
#suspectinfodivmiddlepart div div {
float:left;
padding:0;
}
#suspectinfodivmiddlepart div.helpicon {
float:left;
padding:0 0 0 8px;
}
#suspectinfodivmiddlepart .photo {
float:left;
padding:3px;
position:absolute;
}
#suspectinfodivmiddlepart .frame {
position:absolute;
}
.suspectinfodivinfo {
clear:both;
float:left;
font-size:11px;
line-height:19px;
padding:10px 25px;
}
.photo {
float:left;
padding:3px;
position:absolute;
}
.frame {
position:absolute;
}
#essenceinfodivtop {
clear:both;
float:left;
width:100%;
}
#essenceinfodivtopleft {
float:left;
}
#essenceinfodivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/refine_by_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:798px;
}
#paroleedetailspage #essenceinfodivtopmiddle {
width:99%;
}
#essenceinfodivtopright {
float:left;
}
#essenceinfotextdiv {
padding-left:10px;
}
#parolledetailsdiv {
float:left;
width:100%;
}
#parolledetailsdivtop {
clear:both;
float:left;
width:100%;
}
#parolledetailsdivtopleft {
float:left;
}
#parolledetailsdivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:791px;
}
#paroleedetailspage #parolledetailsdivtopmiddle {
width:auto;
float:none;
cursor:pointer;
}
#parolledetailsdivtopright {
float:left;
}
#parolleheadertextdiv {
color:#FFFFFF;
float:left;
font-weight:bold;
padding-left:5px;
padding-top:9px;
}
#map_nolink {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:58px;
}
#paroleedetailstopbutton {
float:left;
width:100%;
}
#paroleedetailstopNavButton {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0 0 0 151px;
}
.floatr {
float:right;
text-align:right;
}
#paroleedetailstopNavButton li {
display:inline;
}
#paroleedetailstopNavButton li a:link {
height:28px;
margin:0 0 0 1px;
}
#paroleedetailstopNavButton li a:visited {
height:28px;
margin:0 0 0 1px;
}
#paroleedetailstopNavButton li a img {
height:28px;
}
#paroleedetailstopNavButton #parolee_info_nav a img {
width:139px;
}
#paroleedetailstopNavButton #parolee_info_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/parolee_info_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #parolee_info_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/parolee_info_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #parolee_info_nav a:hover, #paroleedetailstopNavButton #parolee_info_nav.selected a:link, #paroleedetailstopNavButton #parolee_info_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/parolee_info_button_on.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_gallery_nav a img {
width:97px;
}
#paroleedetailstopNavButton #photo_gallery_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_gallery_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_gallery_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_gallery_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_gallery_nav a:hover, #paroleedetailstopNavButton #photo_gallery_nav.selected a:link, #paroleedetailstopNavButton #photo_gallery_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_gallery_button_on.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_lineup_nav a img {
width:91px;
}
#paroleedetailstopNavButton #photo_lineup_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_lineup_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_lineup_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_lineup_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_lineup_nav a:hover, #paroleedetailstopNavButton #photo_lineup_nav.selected a:link, #paroleedetailstopNavButton #photo_lineup_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_lineup_button_on.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#parolledetailsdivcontent {
float:left;
width:100%;
}
.paroleedetailsname {
color:#E17236;
float:left;
padding:10px 0 10px 10px;
word-wrap:break-word;
}
.paroleedetailsvalue {
color:#636363;
float:left;
padding:10px 0 10px 10px;
word-wrap:break-word;
}
.paroleedetailsphoto {
float:left;
height:150px;
}
.firsttworow {
float:left;
padding-top:19px;
width:85%;
}
.firsttworowphoto {
clear:both;
float:left;
width:100%;
}
#parolledetailsdivcontent .col1 {
width:91px;
}
#parolledetailsdivcontent .col2 {
width:110px;
}
#parolledetailsdivcontent .col3 {
width:90px;
}
#parolledetailsdivcontent .col4 {
width:110px;
}
#parolledetailsdivcontent .col5 {
width:80px;
}
#parolledetailsdivcontent .col6 {
width:137px;
}
#paroleedetailspage #parolledetailsdivcontent .col1 {
width:11%;
}
#paroleedetailspage #parolledetailsdivcontent .col2 {
width:16%;
}
#paroleedetailspage #parolledetailsdivcontent .col3 {
width:11%;
}
#paroleedetailspage #parolledetailsdivcontent .col4 {
width:16%;
}
#paroleedetailspage #parolledetailsdivcontent .col5 {
width:10.5%;
}
#paroleedetailspage #parolledetailsdivcontent .col6 {
width:16%;
}
#paroleedetailspage #parolledetailsdivcontent .lastdiv {
width:33%;
}
#parolledetailsdivcontent .col7 {
width:8%;
}
#parolledetailsdivcontent .col8 {
width:8%;
}

#parolledetailsdivcontent .specialcomments {
width:80%;
}

#parolledetailsdivcontent .notification {
width:95%;
}

#paroleedetailspage #parolledetailsdivcontent .firsttworowphoto .col1 {
width:13%;
}
#paroleedetailspage #parolledetailsdivcontent .firsttworowphoto .col2 {
width:19%;
}
#paroleedetailspage #parolledetailsdivcontent .firsttworowphoto .col3 {
width:13%;
}
#paroleedetailspage #parolledetailsdivcontent .firsttworowphoto .col4 {
width:19%;
}
#paroleedetailspage #parolledetailsdivcontent .firsttworowphoto .col5 {
width:12%;
}
#paroleedetailspage #parolledetailsdivcontent .firsttworowphoto .col6 {
width:18%;
}
.paroleedetailsphoto .photo {
padding:3px;
position:absolute;
right:21px;
}
.paroleedetailsphoto .frame {
position:absolute;
}
paroleeaddressesdiv {
float:left;
width:100%;
}
#paroleeaddressesdivtop {
clear:both;
float:left;
width:100%;
}
#paroleeaddressesdivtopleft {
float:left;
}
#paroleeaddressesdivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:791px;
}
#paroleedetailspage #paroleeaddressesdivtopmiddle {
width:auto;
float:none;
}
#paroleeaddressesdivtopright {
float:left;
}
#paroleeaddressestextdiv {
float:left;
padding-left:7px;
}
#paroleedetailstopbutton {
float:left;
width:100%;
}
#paroleedetailstopNavButton {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0 0 0 151px;
}
#paroleedetailspage #paroleedetailstopNavButton {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0 0 0 0;
}
.floatr {
float:right;
text-align:right;
}
#paroleedetailstopNavButton li {
display:inline;
}
#paroleedetailstopNavButton li a:link {
height:28px;
margin:0 0 0 1px;
}
#paroleedetailstopNavButton li a:visited {
height:28px;
margin:0 0 0 1px;
}
#paroleedetailstopNavButton li a img {
height:28px;
}
#paroleedetailstopNavButton #parolee_info_nav a img {
width:139px;
}
#paroleedetailstopNavButton #parolee_info_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/parolee_info_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #parolee_info_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/parolee_info_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #parolee_info_nav a:hover, #paroleedetailstopNavButton #parolee_info_nav.selected a:link, #paroleedetailstopNavButton #parolee_info_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/parolee_info_button_on.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_gallery_nav a img {
width:97px;
}
#paroleedetailstopNavButton #photo_gallery_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_gallery_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_gallery_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_gallery_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_gallery_nav a:hover, #paroleedetailstopNavButton #photo_gallery_nav.selected a:link, #paroleedetailstopNavButton #photo_gallery_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_gallery_button_on.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_lineup_nav a img {
width:91px;
}
#paroleedetailstopNavButton #photo_lineup_nav a:link {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_lineup_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_lineup_nav a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_lineup_button.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleedetailstopNavButton #photo_lineup_nav a:hover, #paroleedetailstopNavButton #photo_lineup_nav.selected a:link, #paroleedetailstopNavButton #photo_lineup_nav.selected a:visited {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/parolee_details/photo_lineup_button_on.gif) no-repeat scroll center top;
float:left;
margin-top:2px;
}
#paroleeaddressesdivcontent {
float:left;
width:100%;
}
.row1 {
background-color:#F7F7F7;
border-bottom:1px solid #DDDDDD;
}
.row2 {
background-color:#FFFFFF;
clear:both;
float:none;
width:100%;
display:table;
border-bottom:1px solid #DDDDDD;
}
.paroleedetailsname {
color:#E17236;
float:left;
padding:10px 0 10px 10px;
}
.paroleedetailsvalue {
color:#636363;
float:left;
padding:10px 0 10px 10px;
}
.paroleedetailsphoto {
float:left;
height:150px;
padding-bottom:4px;
padding-top:0px;
}
.firsttworow {
float:left;
padding-top:19px;
width:85%;
}
#paroleedetailspage .firsttworow {
float:left;
padding-top:0px;
width:85%;
}
.firsttworowphoto .photo img {
display:inline;
float:right;
}
.firsttworowphoto {
clear:both;
float:left;
width:100%;
}
.firsttworowphoto .row1 {
/*height:75px;*/
}
#parolledetailsdivcontent .row1 {display:table; width:100%}
#paroleeaddressesdivcontent .col1 {
width:15%;
}
#paroleeaddressesdivcontent .col2 {
width:33%;
}


#paroleedetailspage #paroleeaddressesdivcontent .col1 {
width:11%;
}
#paroleedetailspage #paroleeaddressesdivcontent .col2 {
width:33%;
}

#paroleedetailspage #paroleeaddressesdivcontent .col3 {
width:11%;
}
#paroleedetailspage #paroleeaddressesdivcontent .col4 {
width:33%;
}

#paroleeaddressesdivcontent .col3 {
width:11%;
}
#paroleeaddressesdivcontent .col4 {
width:33%;
}
#paroleeaddressesdivcontent .col5 {
width:80px;
}
#paroleeaddressesdivcontent .col6 {
width:137px;
}
#paroleeaddressesdivcontent .col7 {
width:35px;
}
#paroleeaddressesdivcontent .col8 {
width:70px;
}
.paroleedetailsphoto .photo {
float:left;
padding:3px;
position:absolute;
}
.paroleedetailsphoto .frame {
position:absolute;
}
#middletoprightbottom {
clear:both;
float:none;
width:auto;
}
#parolleprintpreviewdiv {
float:left;
width:50%;
}
#parolleprintpreviewdivtop {
clear:both;
float:left;
width:99%;
}
#parolleprintpreviewdivtopleft {
float:left;
}
#parolleprintpreviewdivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:100%;
}
#parolleprintpreviewdivtopright {
float:left;
}
#parolleprintpreviewtextdiv {
float:left;
padding-left:7px;
}
#parolleprintpreviewdivcontent {
background-color:#E5E5E6;
float:left;
margin-right:2px;
width:99%;
}
.parolleprintpreviewphotobuttom {
background-color:#E5E5E6;
float:left;
padding:10px 0;
width:100%;
}
.parolleprintpreviewphoto {
float:left;
height:300px;
padding-left:10px;
width:75%;
}
.parolleprintpreviewbutton {
background-color:#E5E5E6;
float:right;
padding-right:10px;
width:64px;
}
.parolleprintpreviewphoto .photo {
float:left;
padding:3px;
position:absolute;
}
.parolleprintpreviewphoto .frame {
position:absolute;
}
#mugsmtdiv {
float:right;
width:50%;
}
#mugshotselecteddiv {
float:right;
width:99%;
}
#mugshotselecteddivtop {
clear:both;
float:left;
width:100%;
}
#mugshotselecteddivtopleft {
float:left;
}
#mugshotselecteddivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:100%;
}
#mugshotselecteddivtopmiddle img {margin-left:7px}
#mugshotselecteddivtopright {
float:left;
}
#mugshotselectedtextdiv {
float:left;
padding-left:7px;
}
#smtphotosdiv {
float:left;
width:100%;
}
#smtphotosdivtop {
clear:both;
float:left;
width:100%;
}
#smtphotosdivtopleft {
float:left;
}
#smtphotosdivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:100%;
}
#smtphotosdivtopmiddle img {margin-left:7px;}
#smtphotosdivtopright {
float:left;
}
#smtphotostextdiv {
float:left;
padding-left:7px;
}
.parolleprintpreviewcontent {
background-color:#E5E5E6;
clear:both;
float:left;
line-height:26px;
padding:6px 0;
width:100%;
}
.parolleprintpreviewcontent div {
padding:2px 10px;
color:#636363;
}
.parolleprintpreviewcontent div span {
width:98px;
float:left;
}
.print_preview_photo_button {
clear:both;
float:right;
}
.print_preview_gallery_button {
clear:both;
float:right;
padding:28px 0 0;
}
.print_preview_nist_button {
clear:both;
float:right;
padding:28px 0 0;
}
.print_preview_pal_button {
clear:both;
float:right;
padding:28px 0 0;
}
div#mugshotselecteddivcontent {
background-color:#E5E5E6;
clear:both;
float:left;
height:140px;
overflow:auto;
padding:10px 0 0;
position:relative;
width:100%;
}
.middlephoto {
padding:0 45px;
}
.mugshotselectedrow1 {
clear:both;
float:left;
height:100px;
padding-bottom:10px;
position:relative;
width:100%;
}
.mugshotselectedphoto {
float:left;
height:70px;
padding:9px;
position:relative;
width:60px;
}
.mugshotselectedphoto .photo {
float:left;
padding:3px;
position:absolute;
}
.mugshotselectedphoto .frame {
float:left;
position:absolute;
}
div#smtphotosdivcontent {
background-color:#E5E5E6;
clear:both;
float:left;
height:140px;
overflow:auto;
padding:10px 0 0;
position:relative;
width:100%;
}
.smtphotosrow1 {
clear:both;
float:left;
height:100px;
padding-bottom:10px;
position:relative;
width:100%;
}
.smtphotosphoto {
float:left;
height:70px;
padding:9px;
width:60px;
}
.smtphotosphoto .photo {
float:left;
padding:3px;
position:absolute;
}
.smtphotosphoto .frame {
float:left;
position:absolute;
}
input.checkbox {
border:medium none;
}
.essenceinfodivboxcontent {
/*padding:10px;*/
float:left;
width:100%;
}
#essenceinfodivboxrow {
float:left;
padding:10px 0;
width:100%;
}
#essenceinfodivboxrow div {
float:left;
}
#essenceinfodivboxrow .col1 {
padding-right:2%;
width:auto;
color:#636363;
padding-left:5px;
}
#essenceinfodivboxrow .col2 {
padding-right:40px;
width:auto;
}
#essenceinfodivboxrow .col3 {
padding-right:40px;
width:auto;
}
#essenceinfodivboxrow .col4 {
padding-right:40px;
width:auto;
}
.essenceinfoname {
color:#E17236;
}
.similersearchboxcontent {
padding:10px;
}
#similersearchboxrow {
float:left;
padding:10px 0;
width:100%;
}
#similersearchboxrow div {
float:left;
color:#636363;
}
#similersearchboxrow .col1 {
width:28%;
}
#similersearchboxrow .col2 {
width:27%;
}
#similersearchboxrow .col3 {
width:26%;
}
#similersearchboxrow .col4 {
width:14%;
}
#similersearchboxrow .height {
width:27%;
}
#similersearchboxrow .weight {
width:26%;
}
#similersearchboxrow .smt {
width:17%;
}
#currentsimilarresultdiv {
float:left;
width:50%;
}
#currentsimilarresultdivtop {
clear:both;
float:left;
width:99%;
}
#currentsimilarresultdivtopleft {
float:left;
}
#currentsimilarresultdivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:100%;
}
#currentsimilarresultdivtopright {
float:left;
}
#currentsimilarresulttextdiv {
float:left;
padding-left:7px;
}
#currentsimilarresultdivcontent {
background-color:#E5E5E6;
float:left;
overflow-x:hidden;
overflow-y:visible;
position:relative;
width:99%;
}
.currentsimilarresultphotobuttom {
margin:0 auto;
width:100%;
padding-top:30px;
}
.currentsimilarresultphoto {
float:left;
padding:0px;
position:relative;
}
.currentsimilarresultbutton {
float:right;
}
.currentsimilarresultphoto .photo {
float:left;
padding:4px;
position:relative;
}
.currentsimilarresultphoto .frame {
float:left;
margin-left:-155px;
position:relative;
}
#photoselecteddiv {
float:right;
padding-left:5px;
width:50%;
}
#photoselectedinnerdiv {
float:right;
width:100%;
}
#photoselectedinnerdivtop {
clear:both;
float:left;
height:31px;
width:100%;
}
#photoselectedinnerdivtop div {
margin:0;
padding:0;
}
#photoselectedinnerdivtopleft {
float:left;
}
#photoselectedinnerdivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:100%;
}
#photoselectedinnerdivtopmiddle img {margin-left:7px;}
#photoselectedinnerdivtopright {
float:left;
}
#photoselectedinnertextdiv {
float:left;
padding-left:7px;
}
div#photoselectedinnerdivcontent {
background-color:#E5E5E6;
clear:both;
float:left;
height:355px;
overflow:hidden;
position:relative;
width:100%;
}
.photoselectedinnerrow1 {
clear:both;
height:auto;
margin:0 auto;
padding-bottom:29px;
position:relative;
width:390px;
}
.photoselectedinnerrow1 div {
float:left;
height:auto;
}
.photoselectedinnerrow1 div div {
height:auto;
}
.photoselectedinnerrow1 div.photoselectedinnerphoto {
float:left;
height:auto;
position:relative;
width:100px;
}
.photoselectedinnerrow1 div.photoselectedinnerphoto .photo {
float:left;
padding:3px;
position:relative;
}
.photoselectedinnerrow1 div.photoselectedinnerphoto .frame {
float:left;
margin-top:-100px;
position:relative;
}
.photoselectedinnerrow2 {
clear:both;
height:auto;
margin:0 auto;
position:relative;
width:390px;
}
.photoselectedinnerrow2 div {
float:left;
height:auto;
}
.photoselectedinnerrow2 div div {
height:auto;
}
.photoselectedinnerrow2 div.photoselectedinnerphoto {
float:left;
height:auto;
position:relative;
width:100px;
}
.photoselectedinnerrow2 div.photoselectedinnerphoto .photo {
float:left;
padding:3px;
position:relative;
}
.photoselectedinnerrow2 div.photoselectedinnerphoto .frame {
float:left;
margin-top:-100px;
position:relative;
}
.specifiypositionfield {
border-bottom:1px solid #A6AEC3;
clear:both;
float:right;
margin:0 auto;
padding:2px;
text-align:right;
width:390px;
}
.numbering {
padding:2px;
width:20px;
}
.photoselectedinnernumber {
width:100%;
}
.w74 {
text-align:center;
width:74px;
}
.photoselectedinnerbuttondiv {
clear:both;
float:right;
}
.photoselectedinnerbutton {
float:left;
margin:2px auto;
padding:7px 0;
width:auto;
}
.photoselectedinnerbuttonmiddle {
padding:0 0 0 13px;
}
.photoselectedinnerbutton div {
float:left;
}
.photoselectedtopdiv {
clear:both;
float:right;
padding-right:10px;
width:100%;
}
#paroleeresultslist1 {
clear:both;
float:none;
font-size:11px;
padding-top:10px;
width:auto;
}
#paroleeresultslist1 div {
font-size:11px;
text-decoration:none;
word-wrap:break-word;
}
#paroleeresultslist1 a {
font-size:11px;
text-decoration:none;
cursor:pointer;
word-wrap:break-word;
padding:0px;
}

#paroleedetailshead col {
margin:0 7px 0 0;
width:7%;
}
#paroleeresultslist1 .col {
margin:0 7px 0 0;
width:7%;
}
#paroleeresultslist1 div.toolhead {
width:40px;
}
#paroleeresultslist1 div.thumbnailhead {
width:50px;
}
#paroleeresultslist1 a:link {
text-decoration:none;
cursor:pointer;
}

#paroleeresultslist1 .toolicon {
float:left;
padding:0px;
text-align:center;
width:auto;
}
#paroleeresultslist1 .thumbnail {
float:left;
padding:10px 0 10px 5px;
text-align:center;
width:50px;
}

#paroleeresultslist1withphoto {
clear:both;
float:none;
font-size:11px;
padding-top:10px;
width:auto;
}
#paroleeresultslist1withphoto div, #paroleeresultslist1withphoto a {
font-size:11px;
word-wrap:break-word;
}

#paroleedetailshead col {
margin:0 7px 0 0;
width:7%;
}
#paroleeresultslist1withphoto .col {
margin:0 7px 0 0;
width:7%;
}
#paroleeresultslist1withphoto div.toolhead {
width:40px;
}
#paroleeresultslist1withphoto div.thumbnailhead {
width:50px;
}
#paroleeresultslist1withphoto a:link {
text-decoration:none;
cursor:pointer;
}
#paroleeresultslist1withphoto a:visited {
text-decoration:none;
float:none;
width:auto;
display:block;
cursor:pointer;
}

#paroleeresultslist1withphoto .toolicon {
float:left;
padding:0px;
text-align:center;
width:auto;
}
#paroleeresultslist1withphoto .thumbnail {
float:left;
padding:10px 0 10px 0.3%;
text-align:center;
width:50px;
}


#paroleeresultslist1pc290Discharge {
clear:both;
float:none;
font-size:11px;
padding-top:10px;
width:auto;
}
#paroleeresultslist1pc290Discharge div, #paroleeresultslist1pc290Discharge a {
font-size:11px;
word-wrap:break-word;
}

#paroleeresultslist1pc290Discharge .col {
margin:0 2px 0 0;
width:7%
}
#paroleeresultslist1pc290Discharge .colpc290 {
margin:0 2px 0 0;
width:10%;
}
#paroleeresultslist1pc290Discharge .address {
margin:0 2px 0 0;
width:24%;
}
#paroleeresultslist1pc290Discharge div.toolhead {
width:40px;
}
#paroleeresultslist1pc290Discharge div.thumbnailhead {
width:50px;
}
#paroleeresultslist1pc290Discharge a:link {
text-decoration:none;
}
#paroleeresultslist1pc290Discharge a:visited {
text-decoration:none;
}

#paroleeresultslist1pc290Discharge .toolicon {
float:left;
padding:0px;
text-align:left;
width:auto;
}
#paroleeresultslist1pc290Discharge .thumbnail {
float:left;
padding:10px 0 10px 5px;
text-align:center;
width:50px;
}

#paroleeresultslist1pc290Dischargephoto {
clear:both;
float:none;
font-size:11px;
padding-top:10px;
width:auto;
}
#paroleeresultslist1pc290Dischargephoto div, #paroleeresultslist1pc290Dischargephoto a {
font-size:11px;
word-wrap:break-word;
}

#paroleeresultslist1pc290Dischargephoto .col {
margin:0 2px 0 0;
width:7%
}
#paroleeresultslist1pc290Dischargephoto .colpc290 {
margin:0 2px 0 0;
width:10%;
}
#paroleeresultslist1pc290Dischargephoto .address {
margin:0 2px 0 0;
width:24%;
}
#paroleeresultslist1pc290Dischargephoto div.toolhead {
width:40px;
}
#paroleeresultslist1pc290Dischargephoto div.thumbnailhead {
width:50px;
}
#paroleeresultslist1pc290Dischargephoto a:link {
text-decoration:none;
}
#paroleeresultslist1pc290Dischargephoto a:visited {
text-decoration:none;
}

#paroleeresultslist1pc290Dischargephoto .toolicon {
float:left;
padding:0px;
text-align:left;
width:auto;
}
#paroleeresultslist1pc290Dischargephoto .thumbnail {
float:left;
padding:10px 0 10px 5px;
text-align:center;
width:50px;
}



#paroleeresultslist1pc290Registrant {
clear:both;
float:none;
font-size:11px;
padding-top:10px;
width:auto;
}
#paroleeresultslist1pc290Registrant div, #paroleeresultslist1pc290Registrant a {
font-size:11px;
word-wrap:break-word;
}
.paroleeresultslistheader {
background-color:#EAEAEB;
clear:both;
float:none;

padding:3px 0;
width:100%;
display:table;
}
#paroleeresultslist1pc290Registrant .col {
margin:0 1%;
width:5%;
padding:5px 0px;
}
#paroleeresultslist1pc290Registrant .colpc290 {
margin:0 1%;
width:6%;
padding:10px 0px;
}
#paroleeresultslist1pc290Registrant .address {
margin:0 1%;
width:13%;
padding:5px 0px;
}
#paroleeresultslist1pc290Registrant div.toolhead {
width:40px;
}

#paroleeresultslist1pc290Registrant div.thumbnailhead {
width:50px;
}
#paroleeresultslist1pc290Registrant a:link {
text-decoration:none;
}
#paroleeresultslist1pc290Registrant a:visited {
text-decoration:none;
}

#paroleeresultslist1pc290Registrant .toolicon {
float:left;
text-align:left;
width:auto;
}
#paroleeresultslist1pc290Registrant .thumbnail {
float:left;
text-align:center;
width:50px;
}


#paroleeresultslist1pc290Registrantphoto {
clear:both;
float:none;
font-size:11px;
padding-top:10px;
width:auto;
}
#paroleeresultslist1pc290Registrantphoto div, #paroleeresultslist1pc290Registrantphoto a {
font-size:11px;
word-wrap:break-word;
}
.paroleeresultslistheader {
background-color:#EAEAEB;
clear:both;
float:none;
padding:3px 0;
width:100%;
display:table;
}
#paroleeresultslist1pc290Registrantphoto .col {
margin:0 1%;
width:5%;
padding:5px 0px;
}
#paroleeresultslist1pc290Registrantphoto .colpc290 {
margin:0 1%;
width:6%;
padding:10px 0px;
}
#paroleeresultslist1pc290Registrantphoto .address {
margin:0 1%;
width:13%;
padding:5px 0px;
}
#paroleeresultslist1pc290Registrantphoto div.toolhead {
width:40px;
}
#paroleeresultslist1pc290Registrantphoto div.thumbnailhead {
width:50px;
}
#paroleeresultslist1pc290Registrantphoto a:link {
text-decoration:none;
}
#paroleeresultslist1pc290Registrantphoto a:visited {
text-decoration:none;
}

#paroleeresultslist1pc290Registrantphoto .toolicon {
float:left;
text-align:left;
width:auto;
}
#paroleeresultslist1pc290Registrantphoto .thumbnail {
float:left;
text-align:center;
width:50px;
}

.paroleedetailshead {
color:#000000;
float:left;
padding:10px 0 10px 0.3%;
}
.paroleedetailshead div {
color:#000000;
float:left;
}
.paroleedetailshead a:link {
color:#000000;
text-decoration:none;
}
.paroleedetailshead a:visited {
color:#000000;
text-decoration:none;
}
#paroleeresultslist3 {
clear:both;
float:left;
font-size:11px;
padding-top:40px;
width:975px;
}
#paroleeresultslist3 div, #paroleeresultslist3 a {
font-size:11px;
}
.paroleeresultslistheader {
background-color:#EAEAEB;
clear:both;
float:none;
padding:3px 0;
width:100%;
display:table;
}
#paroleeresultslist3 .col {
margin:0 2px 0 0;
width:69px;
word-wrap:break-word;
}
#paroleeresultslist3 div.toolhead {
width:40px;
}
#paroleeresultslist3 div.thumbnailhead {
width:50px;
}
#paroleeresultslist3 a:link {
text-decoration:none;
}
#paroleeresultslist3 a:visited {
text-decoration:none;
}
#paroleeresultslist3 a:hover {
text-decoration:none;
}
#paroleeresultslist3 .toolicon {
float:left;
padding:10px 0 10px 5px;
text-align:center;
width:38px;
}
#paroleeresultslist3 .thumbnail {
float:left;
padding:10px 0 10px 5px;
text-align:center;
width:50px;
}
#paroleeresultslist3 .row1 {
border-bottom:1px solid #CCCCCC;
}
#paroleeresultslist3 .row2 {
border-bottom:1px solid #CCCCCC;
}
#paroleeresultslist3 .thumbnail img {
border:1px solid #CCCCCC;
}
.close {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/close_icon.gif) no-repeat scroll right top;
display:table-caption;
}
.row1 div, .row2 div {
padding:10px 0 10px 0.3%;
}
#paroleeresultslist1 .row1 {
border-bottom:1px solid #CCCCCC;
}
#paroleeresultslist1 .row2 {
border-bottom:1px solid #CCCCCC;
}
#paroleeresultslist1 .thumbnail img {
border:1px solid #CCCCCC;
}
.searchsimilarbutton {
clear:both;
margin-bottom:10px;
margin-right:10px;
}
#notificationsdiv {
float:left;
width:400px;
}
#notificationsinnerdiv {
float:left;
width:400px;
}
#notificationsdivtop {
clear:both;
float:left;
width:400px;
}
#notificationsdivtop div {
margin:0;
padding:0;
}
#notificationsdivtopleft {
float:left;
}
#notificationsdivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:388px;
}
#notificationsdivtopright {
float:left;
}
#notificationstextdiv {
float:left;
padding-left:7px;
}
#notificationsdivcontent {
background-color:#E5E5E6;
float:left;
height:auto !important;
margin:0 1px;
min-height:76px;
padding:10px;
width:377px;
}
#notificationsdivcontent ul {
list-style-image:url(../images/global/orange_arrow_button_trans.gif);
list-style-position:outside;
list-style-type:disc;
margin-left:7px;
padding-left:7px;
}
#notificationsdivcontent ul li {
padding-bottom:10px;
}
#agencyalertsdiv {
float:right;
width:400px;
}
#agencyalertsinnerdiv {
float:left;
width:400px;
}
#agencyalertsdivtop {
clear:both;
float:left;
width:400px;
}
#agencyalertsdivtop div {
margin:0;
padding:0;
}
#agencyalertsdivtopleft {
float:left;
}
#agencyalertsdivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:388px;
}
#agencyalertsdivtopright {
float:left;
}
#agencyalertstextdiv {
float:left;
padding-left:7px;
}
#agencyalertsdivcontent {
background-color:#E5E5E6;
float:left;
height:auto !important;
margin:0 1px;
min-height:76px;
padding:10px;
width:377px;
}
#agencyalertsdivcontent ul {
list-style-image:url(../images/global/orange_arrow_button_trans.gif);
list-style-position:outside;
list-style-type:disc;
margin-left:7px;
padding-left:7px;
}
#agencyalertsdivcontent ul li {
padding-bottom:10px;
}
#step1divmiddlepart ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
#coursesdivtop {
clear:both;
float:left;
width:100%;
}
#coursesdivtop div {
margin:0;
padding:0;
}
#coursesdivtopleft {
float:left;
}
#coursesdivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:790px;
}
#coursesdivtopright {
float:left;
}
#middlebottomwelcome {
float:left;
padding-top:10px;
}
#coursestableresultslist {
clear:both;
float:left;
font-size:11px;
width:800px;
}
#coursestableresultslist div, #coursestableresultslist a {
font-size:11px;
}
.coursestableresultslistheader {
clear:both;
float:left;
}
#coursestableresultslist .coursestableresultslistheader .col {
background-color:#596677;
color:#FFFFFF;
font-weight:bold;
}
#coursestableresultslist .col {
float:left;
margin:0 1px 0 0;
text-align:center;
width:154px;
}
#coursestableresultslist div.toolhead {
width:40px;
}
#coursestableresultslist a:link {
text-decoration:none;
}
#coursestableresultslist a:visited {
text-decoration:none;
}
#coursestableresultslist a:hover {
text-decoration:none;
}
#coursestableresultslist .toolicon {
float:left;
padding:10px 0 10px 5px;
text-align:center;
width:38px;
}
.coursestabledetailshead {
color:#555555;
float:left;
padding:5px 0 5px 5px;
}
#coursestableresultslist .col a:link {
color:#36769C;
padding-right:10px;
text-decoration:none;
}
#coursestableresultslist .col a:visited {
color:#36769C;
padding-right:10px;
text-decoration:none;
}
#coursestableresultslist .col a:hover {
color:#D26931;
padding-right:10px;
text-decoration:none;
}
.up {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/sorting_up_arrow.gif) no-repeat scroll right top;
display:table-caption;
}
.down {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/sorting_down_arrow.gif) no-repeat scroll right top;
display:table-caption;
}
.close {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/close_icon.gif) no-repeat scroll right top;
display:table-caption;
}
.row1 div, .row2 div {
padding:10px 0 10px 0.3%;
}
#coursestableresultslist .row1 {
border-bottom:1px solid #CCCCCC;
}
#coursestableresultslist .row2 {
border-bottom:1px solid #CCCCCC;
}
#advSearchTop div div.inputname {
padding-bottom:25px;
width:68px;
}
#advSearchTop div div.inputnameforsavesearch {
padding-bottom:25px;
padding-right:10px;
width:auto;
}

#radialSearchbody {
background-color:#FFFFFF;
}

#radialSearchTop {
clear:both;
padding:8px 8px 8px 25px;
float:left;
/*width:95%;*/
text-align:justify
}

/*
#radialSearchTop {
float:left;
clear:both;
}*/

#radialSearchTop div#radialSearchTopfirstrow {
clear:both;
float:none;
padding-top:0;
width:auto;
}
#radialSearchTop div {
clear:both;
float:left;
padding-top:12px;
width:100%;
}
#radialSearchTop div div {
clear:none;
float:left;
padding-top:21px;
width:auto;
}
#radialSearchTop div div {
clear:none;
float:left;
line-height:17px;
padding:0;
}
#radialSearchTop #radialSearchTopMiddle div {
float:left;
line-height:17px;
/*padding:0 24px;*/
}
#radialSearchTop input {
padding:2px;
width:137px;
}
#radialSearchTop select {
/*height:26px;*/
width:137px;
}
#radialSearchTop #radialSearchTopMiddlelast {
float:left;
line-height:17px;
padding:0 22px 0 54px;
}
#radialSearchTop #radialSearchTopMiddlelast span {
clear:both;
color:#555555;
float:left;
padding-top:6px;
}
#radialSearchTop #radialSearchToprightlast input {
margin-right:6px;
width:59px;
}
.w90 {
width:90px;
}
#radialSearchTop input.w90 {
width:80px;
}
#radialSearchMiddle1 {
clear:both;
float:left;
padding:12px;
}
#radialSearchTop #helpdiv {
clear:both;
float:right;
padding:0;
text-align:right;
width:auto;
}
#emailAgentTop {
padding:8px 8px 8px 25px;
text-align:justify;
}
#emailAgentTop div#emailAgentTopfirstrow {
clear:both;
float:left;
padding-top:0;
width:100%;
}
#emailAgentTop div {
clear:both;
float:left;
/*padding-top:12px;*/
width:100%;
}
#emailAgentTop div div {
clear:none;
float:left;
padding-top:21px;
width:auto;
}
#emailAgentTop div div {
clear:none;
float:left;
/*line-height:17px;*/
padding:0;
}
#emailAgentTop #emailAgentTopMiddle div {
float:left;
line-height:17px;
padding:0 54px;
}
#emailAgentTop input {
padding:5px;
width:137px;
}
#emailAgentTop div div.inputnamesubject input {
width:365px;
}
#emailAgentTop div div.inputnameMessage textarea {
border:1px solid #B3B3B3;
color:#8499AF;
width:376px;
}
#emailAgentTop select {
height:26px;
width:150px;
}
#emailAgentTop #emailAgentTopMiddlelast {
float:left;
line-height:17px;
padding:0 22px 0 54px;
}
#emailAgentTop #emailAgentTopMiddlelast span {
clear:both;
color:#555555;
float:left;
padding-top:6px;
}
#emailAgentTop #emailAgentToprightlast input {
margin-right:6px;
width:59px;
}
#emailAgentTop div div.inputname {
padding-bottom:10px;
width:68px;
}
#emailAgentTop div div.inputnameforsavesearch {
padding-bottom:25px;
padding-right:10px;
width:auto;
}
#emailAgentTop #helpdiv {
clear:both;
float:left;
padding:0;
text-align:right;
width:100%;
}
#printpreviewpopupdiv {
float:left;
width:364px;
}
#printpreviewpopupdivtop {
clear:both;
float:left;
width:100%;
}
#printpreviewpopupdivtopleft {
float:left;
}
#printpreviewpopupdivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:352px;
}
#printpreviewpopupdivtopright {
float:left;
}
#printpreviewpopuptextdiv {
float:left;
padding-left:7px;
}
#printpreviewpopupdivcontent {
background-color:#E5E5E6;
}
.printpreviewpopupphotobuttom {
background-color:#E5E5E6;
float:left;
padding:10px 10px 10px 93px;
width:261px;
}
.printpreviewpopupphoto {
float:left;
width:100%;
}
.printpreviewpopupbutton {
float:right;
}
.printpreviewpopupphoto .photo {
float:left;
padding:3px;
position:absolute;
}
.printpreviewpopupphoto .frame {
position:absolute;
}
.printpreviewpopupcontent {
background-color:#E5E5E6;
clear:both;
float:left;
line-height:23px;
padding:173px 20px 20px;
width:324px;
}
.printpreviewpopupcontent div {
clear:both;
float:left;
width:100%;
}
.printpreviewpopupcontent div div {
clear:none;
float:left;
width:140px;
}
#printgallerysmtdiv {
float:left;
padding-left:5px;
width:620px;
}
#printgalleryshotselecteddiv {
float:left;
width:620px;
}
#printgalleryshotselecteddivtop {
clear:both;
float:left;
width:100%;
}
#printgalleryshotselecteddivtopleft {
float:left;
}
#printgalleryshotselecteddivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:420px;
}
#printgalleryshotselecteddivtopright {
float:left;
}
#printgalleryshotselectedtextdiv {
float:left;
padding-left:7px;
}
div#printgalleryshotselecteddivcontent {
background-color:#E5E5E6;
clear:both;
float:left;
height:220px;
overflow:auto;
padding:30px 10px 0;
position:relative;
width:620px;
}
.middlephoto {
padding:0 45px;
}
.printgalleryshotselectedrow1 {
clear:both;
float:left;
height:200px;
padding-bottom:10px;
position:relative;
width:600px;
}
.printgalleryshotselectedphoto {
float:left;
height:175px;
position:relative;
width:170px;
}
.printgalleryshotselectedphoto .photo {
float:left;
padding:3px;
position:relative;
}
.printgalleryshotselectedphoto .frame {
float:left;
margin-top:-183px;
position:relative;
}
#printlineupsmtdiv {
float:left;
padding-left:5px;
width:620px;
}
#printlineupshotselecteddiv {
float:left;
width:620px;
}
#printlineupshotselecteddivtop {
clear:both;
float:left;
width:100%;
}
#printlineupshotselecteddivtopleft {
float:left;
}
#printlineupshotselecteddivtopmiddle {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/grey_blue_box_bg.gif) repeat-x scroll 0 0;
float:left;
height:32px;
width:420px;
}
#printlineupshotselecteddivtopright {
float:left;
}
#printlineupshotselectedtextdiv {
float:left;
padding-left:7px;
}
div.printlineupshotselecteddivcontent {
background-color:#E5E5E6;
clear:both;
float:left;
height:400px;
overflow:auto;
padding:30px 10px 0;
position:relative;
width:670px;
}
.middlephoto {
padding:0 45px;
}
.printlineupshotselectedrow1 {
clear:both;
float:left;
height:200px;
position:relative;
width:1200px;
}
.printlineupshotselectedphoto {
float:left;
height:175px;
padding-right:5px;
position:relative;
width:170px;
}
.printlineupshotselectedphoto .photo {
float:left;
padding:3px;
position:relative;
}
.printlineupshotselectedphoto .frame {
float:left;
margin-top:-183px;
position:relative;
}
div.printlineupshotselecteddivcontentvertical {
background-color:#E5E5E6;
clear:both;
float:left;
height:400px;
overflow:auto;
padding:30px 10px 0;
position:relative;
width:590px;
}
.printlineupshotselectedrow1vertical {
clear:both;
float:left;
height:200px;
position:relative;
width:auto;
}
#changeprintlayout input {
border:medium none;
}
.show {
display:block;
}
.hide {
display:none;
}
#PC290 {
clear:both;
float:left;
padding-top:0;
width:auto;
}
#PC290 div {
float:left;
padding-top:5px;
width:203px;
}
#PC290 div div div {
padding-left:0;
padding-top:0;
}
#PC290 div.searchtext {
padding-top:5px;
}
#PC290 div.orangearrow {
padding-top:0;
}
#PC290 div.orangearrow img {
padding-right:7px;
padding-top:2px;
float:left;
}
#PC290 div.advancesearchtext {
padding-left:2px;
padding-top:2px;
width:100px;
}
#dischargeNotificationbody {
background-color:#FFFFFF;
}
#dischargeNotificationTop {
padding:8px 8px 8px 25px;
}
#dischargeNotificationTop div#dischargeNotificationTopfirstrow {
clear:both;
float:left;
padding-top:0;
width:100%;
}
#dischargeNotificationTop div {
clear:both;
float:left;
padding-top:12px;
width:100%;
}
#dischargeNotificationTop div div {
clear:none;
float:left;
padding-top:21px;
width:auto;
}
#dischargeNotificationTop div div {
clear:none;
float:left;
line-height:17px;
padding:0;
}
#dischargeNotificationTop #dischargeNotificationTopMiddle div {
float:left;
line-height:17px;
padding:0 24px;
}
#dischargeNotificationTop input {
padding:5px;
width:137px;
}
#dischargeNotificationTop select {
width:220px;
}
#dischargeNotificationTop #dischargeNotificationTopMiddlelast {
float:left;
line-height:17px;
padding:0 22px 0 54px;
}
#dischargeNotificationTop #dischargeNotificationTopMiddlelast span {
clear:both;
color:#555555;
float:left;
padding-top:6px;
}
#dischargeNotificationTop #dischargeNotificationToprightlast input {
margin-right:6px;
width:59px;
}
.w90 {
width:90px;
}
#dischargeNotificationTop input.w90 {
width:80px;
}
#dischargeNotificationMiddle1 {
clear:both;
float:left;
padding:12px;
}
#dischargeNotificationTop #helpdiv {
clear:both;
float:left;
padding:0;
text-align:right;
width:100%;
}
div.button {
clear:both;
float:left;
}
div.buttonleft {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/button_left_side.gif) no-repeat scroll 0 0;
height:23px;
width:7px;
}
div.buttonright {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/button_right_side.gif) no-repeat scroll 0 0;
height:23px;
width:7px;
}
div.buttonbg {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/button_bg_side.gif) repeat-x scroll 0 0;
height:23px;
}
div.buttonbg a {
color:#FFFFFF;
display:block;
font-weight:bold;
padding-top:2px;
text-decoration:none;
}
#dischargeNotificationTop div div.button {
padding-right:10px;
}
#dischargeNotificationTop div div.buttonleft {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/button_left_side.gif) no-repeat scroll 0 0;
float:left;
height:23px;
width:7px;
}
#dischargeNotificationTop div div.buttonright {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/button_right_side.gif) no-repeat scroll 0 0;
float:left;
height:23px;
width:7px;
}
#dischargeNotificationTop div div.buttonbg {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/button_bg_side.gif) repeat-x scroll 0 0;
float:left;
height:23px;
}
#dischargeNotificationTop div div.buttonbg a {
color:#FFFFFF;
display:block;
font-weight:bold;
padding-top:2px;
text-decoration:none;
}
#dischargeNotificationTop div div.citycounty {
clear:both;
float:left;
padding:20px 0;
width:300px;
}
#dischargeNotificationTop div div.citycounty div {
padding-left:5px;
}
#dischargeNotificationTop div div.citycounty div.city {
clear:both;
float:left;
font-weight:bold;
padding-left:90px;
width:100%;
}
#dischargeNotificationTop div div.citycounty div.city div {
padding-right:19px;
}
#dischargeNotificationTop div div.citycounty div.county {
clear:both;
float:left;
font-weight:bold;
padding-left:90px;
width:100%;
}
#dischargeNotificationTop div div.citycounty div.andor {
clear:both;
float:left;
font-weight:normal;
padding:10px 0 10px 148px;
width:70%;
}
#dischargeNotificationTop div div.citycounty div.andor input {
border:medium none;
width:20px;
}
#step1divmiddlepart div.button {
clear:both;
float:left;
padding-left:45px;
width:auto;
}
#step1divmiddlepart div.buttonleft {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/button_left_side.gif) no-repeat scroll 0 0;
float:left;
height:23px;
width:7px;
}
#step1divmiddlepart div.buttonright {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/button_right_side.gif) no-repeat scroll 0 0;
float:left;
height:23px;
width:7px;
}
#step1divmiddlepart div.buttonbg {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/global/button_bg_side.gif) repeat-x scroll 0 0;
float:left;
height:23px;
padding-top:0;
}
#step1divmiddlepart div.buttonbg a {
color:#FFFFFF;
display:block;
font-weight:bold;
padding-top:2px;
text-decoration:none;
}
#step1divmiddlepart div.buttonbg input {
padding:0;
}
#searchbutton1 input {
border:medium none;
}
.searchbutton input {
border:medium none;
}
#refinments div.noResult, #step3divtop div.noResult {
background-color:#4C7FA5;
clear:both;
color:#FFFFFF;
float:left;
font-size:20px;
margin-top:5px;
padding:5px 0;
text-align:center;
width:100%;
}
#refinments div.noResult a, #step3divtop div.noResult a, #refinments div.noResult p {
clear:both;
color:#FFFFFF;
font-size:13px;
margin-top:5px;
text-align:center;
word-wrap:break-word;
}
#searchbutton1 {
margin-top:10px;
text-align:center;
width:100%;
}
#step1divmiddlepart input.searchbutton1 {
border:medium none;
width:auto;
float:left;
padding:0px;
}
#step2divsearchdiv form#searchForm {float: left; width: 72%;}
div.searchterminput {float: left; width: 53%;}
.bl {background: url(../images/global/bl.gif) 0 100% no-repeat #d8d8d8; width:100%; float:left}
.br {background: url(../images/global/br.gif) 100% 100% no-repeat transparent; width:100%; float:right}
.tl {background: url(../images/global/tl.gif) 0 0 no-repeat; padding:32px 10px 10px}
.tr {background: url(../images/global/tr.gif) 100% 0 no-repeat}
.tb {background: url(../images/global/tb.gif) 100% 0 repeat-x; margin-right:8px}

#paroleeresultslist1 .row1 div, #paroleeresultslist1 .row2 div, #paroleeresultslist1 table tr td div {padding:10px 0 10px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1 .cdcnumber {width:6%}
#paroleeresultslist1 .lastname {width:10%}
#paroleeresultslist1 .firstname {width:10%}
#paroleeresultslist1 .birthdate {width:9%}
#paroleeresultslist1 .gender {width:6%}
#paroleeresultslist1 .ethnicity {width:9%}
#paroleeresultslist1 .height {width:5%}
#paroleeresultslist1 .weight {width:6%}
#paroleeresultslist1 .haircolor {width:7%}
#paroleeresultslist1 .eyecolor {width:7%}
#paroleeresultslist1 .unitname {width:10%}
#paroleeresultslist1 .status {width:8%}
#paroleeresultslist1 .geo {width:3%}

/* for header */
#paroleeresultslist1 .paroleeresultslistheader div {padding:10px 0 0px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1 .cdc_number {width:6%}
#paroleeresultslist1 .last_name {width:10%}
#paroleeresultslist1 .first_name {width:10%}
#paroleeresultslist1 .birth_date_search {width:9%}
#paroleeresultslist1 .sex {width:6%}
#paroleeresultslist1 .race {width:9%}
#paroleeresultslist1 .p_height {width:5%}
#paroleeresultslist1 .p_weight {width:6%}
#paroleeresultslist1 .haircolor	{width:7%}
#paroleeresultslist1 .eyecolor {width:7%}
#paroleeresultslist1 .unit_name {width:10%}
#paroleeresultslist1 .status {width:8%}
#paroleeresultslist1 .geo {width:3%}

#paroleeresultslist1withphoto .row1 div, #paroleeresultslist1withphoto .row2 div {padding:10px 0 10px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1withphoto .cdcnumber {width:6%}
#paroleeresultslist1withphoto .lastname {width:9%}
#paroleeresultslist1withphoto .firstname {width:9%}
#paroleeresultslist1withphoto .birthdate {width:9%}
#paroleeresultslist1withphoto .gender {width:5%}
#paroleeresultslist1withphoto .ethnicity {width:8%}
#paroleeresultslist1withphoto .height {width:5%}
#paroleeresultslist1withphoto .weight {width:5%}
#paroleeresultslist1withphoto .haircolor {width:7%}
#paroleeresultslist1withphoto .eyecolor {width:7%}
#paroleeresultslist1withphoto .unitname {width:10%}
#paroleeresultslist1withphoto .status {width:8%}
#paroleeresultslist1withphoto .geo {width:3%}

/* for header */
#paroleeresultslist1withphoto .paroleeresultslistheader div {padding:10px 0 0px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1withphoto .cdc_number {width:6%}
#paroleeresultslist1withphoto .last_name {width:9%}
#paroleeresultslist1withphoto .first_name {width:9%}
#paroleeresultslist1withphoto .birth_date_search {width:9%}
#paroleeresultslist1withphoto .sex {width:5%}
#paroleeresultslist1withphoto .race {width:8%}
#paroleeresultslist1withphoto .p_height {width:5%}
#paroleeresultslist1withphoto .p_weight {width:5%}
#paroleeresultslist1withphoto .haircolor {width:7%}
#paroleeresultslist1withphoto .eyecolor {width:7%}
#paroleeresultslist1withphoto .unit_name {width:10%}
#paroleeresultslist1withphoto .status {width:8%}
#paroleeresultslist1withphoto .geo {width:3%}

#paroleeresultslist1pc290Discharge .row1 div, #paroleeresultslist1pc290Discharge .row2 div {padding:10px 0 10px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1pc290Discharge .sequence {width:2%}
#paroleeresultslist1pc290Discharge .cdcnumber {width:6%}
#paroleeresultslist1pc290Discharge .lastname {width:16%}
#paroleeresultslist1pc290Discharge .firstname {width:16%}
#paroleeresultslist1pc290Discharge .actiondate {width:10%}
#paroleeresultslist1pc290Discharge .address {width:22%}
#paroleeresultslist1pc290Discharge .city {width:13%}
#paroleeresultslist1pc290Discharge .zip {width:5%}
#paroleeresultslist1pc290Discharge .status {width:8%}
#paroleeresultslist1pc290Discharge .geo {width:3%}

/* for header */
#paroleeresultslist1pc290Discharge .paroleeresultslistheader div {padding:10px 0 0px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1pc290Discharge .sequence_number	 {width:2%}
#paroleeresultslist1pc290Discharge .cdc_number {width:6%}
#paroleeresultslist1pc290Discharge .last_name {width:16%}
#paroleeresultslist1pc290Discharge .first_name {width:16%}
#paroleeresultslist1pc290Discharge .action_date_search {width:10%}
#paroleeresultslist1pc290Discharge .address {width:22%}
#paroleeresultslist1pc290Discharge .city {width:13%}
#paroleeresultslist1pc290Discharge .zip {width:5%}
#paroleeresultslist1pc290Discharge .status {width:8%}
#paroleeresultslist1pc290Discharge .geo	 {width:3%}

#paroleeresultslist1pc290Dischargephoto .row1 div, #paroleeresultslist1pc290Dischargephoto .row2 div {padding:10px 0 10px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1pc290Dischargephoto .sequence {width:2%}
#paroleeresultslist1pc290Dischargephoto .cdcnumber {width:6%}
#paroleeresultslist1pc290Dischargephoto .lastname {width:15%}
#paroleeresultslist1pc290Dischargephoto .firstname {width:15%}
#paroleeresultslist1pc290Dischargephoto .actiondate {width:9%}
#paroleeresultslist1pc290Dischargephoto .address {width:21%}
#paroleeresultslist1pc290Dischargephoto .city {width:12%}
#paroleeresultslist1pc290Dischargephoto .zip {width:5%}
#paroleeresultslist1pc290Dischargephoto .status {width:8%}
#paroleeresultslist1pc290Dischargephoto .geo {width:3%}

/* for header */
#paroleeresultslist1pc290Dischargephoto .paroleeresultslistheader div {padding:10px 0 0px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1pc290Dischargephoto .sequence_number {width:2%}
#paroleeresultslist1pc290Dischargephoto .cdc_number {width:6%}
#paroleeresultslist1pc290Dischargephoto .last_name {width:15%}
#paroleeresultslist1pc290Dischargephoto .first_name {width:15%}
#paroleeresultslist1pc290Dischargephoto .action_date_search {width:9%}
#paroleeresultslist1pc290Dischargephoto .address {width:21%}
#paroleeresultslist1pc290Dischargephoto .city {width:12%}
#paroleeresultslist1pc290Dischargephoto .zip {width:5%}
#paroleeresultslist1pc290Dischargephoto .status {width:8%}
#paroleeresultslist1pc290Dischargephoto .geo {width:3%}

#paroleeresultslist1pc290Registrant .row1 div, #paroleeresultslist1pc290Registrant .row2 div {padding:10px 0 10px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1pc290Registrant .sequence {width:2%}
#paroleeresultslist1pc290Registrant .cdcnumber {width:6%}
#paroleeresultslist1pc290Registrant .lastname {width:12%}
#paroleeresultslist1pc290Registrant .firstname {width:12%}
#paroleeresultslist1pc290Registrant .actiondate {width:9%}
#paroleeresultslist1pc290Registrant .addchangedate {width:9%}
#paroleeresultslist1pc290Registrant .hrso {width:5%}
#paroleeresultslist1pc290Registrant .gps {width:5%}
#paroleeresultslist1pc290Registrant .address {width:16%}
#paroleeresultslist1pc290Registrant .city {width:7%}
#paroleeresultslist1pc290Registrant .zip {width:5%}
#paroleeresultslist1pc290Registrant .status {width:8%}
#paroleeresultslist1pc290Registrant .geo {width:3%}

/* header */
#paroleeresultslist1pc290Registrant .paroleeresultslistheader div {padding:10px 0 0px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1pc290Registrant .sequence_number {width:2%}

#paroleeresultslist1pc290Registrant .cdc_number {width:6%}
#paroleeresultslist1pc290Registrant .last_name {width:12%}
#paroleeresultslist1pc290Registrant .first_name {width:12%}
#paroleeresultslist1pc290Registrant .action_date_search {width:9%}
#paroleeresultslist1pc290Registrant .address_changed_date_search {width:8%}
#paroleeresultslist1pc290Registrant .hrso {width:5%}
#paroleeresultslist1pc290Registrant .gps {width:5%}
#paroleeresultslist1pc290Registrant .address {width:16%}
#paroleeresultslist1pc290Registrant .city {width:7%}
#paroleeresultslist1pc290Registrant .zip {width:5%}
#paroleeresultslist1pc290Registrant .status {width:8%}
#paroleeresultslist1pc290Registrant .geo {width:3%}

#paroleeresultslist1pc290Registrantphoto .row1 div, #paroleeresultslist1pc290Registrantphoto .row2 div {padding:10px 0 10px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1pc290Registrantphoto .sequence {width:2%}
#paroleeresultslist1pc290Registrantphoto .cdcnumber {width:6%}
#paroleeresultslist1pc290Registrantphoto .firstname {width:10%}
#paroleeresultslist1pc290Registrantphoto .lastname {width:10%}
#paroleeresultslist1pc290Registrantphoto .actiondate {width:8%}
#paroleeresultslist1pc290Registrantphoto .addchangedate {width:8%}
#paroleeresultslist1pc290Registrantphoto .hrso {width:5%}
#paroleeresultslist1pc290Registrantphoto .gps {width:5%}
#paroleeresultslist1pc290Registrantphoto .address {width:14%}
#paroleeresultslist1pc290Registrantphoto .city {width:7%}
#paroleeresultslist1pc290Registrantphoto .zip {width:5%}
#paroleeresultslist1pc290Registrantphoto .status {width:8%}
#paroleeresultslist1pc290Registrantphoto .geo {width:3%}

/* header */
#paroleeresultslist1pc290Registrantphoto .paroleeresultslistheader div {padding:10px 0 0px 0.3%; padding-left:5%\9; margin:0px}
#paroleeresultslist1pc290Registrantphoto .sequence_number {width:2%}
#paroleeresultslist1pc290Registrantphoto .cdc_number {width:6%}
#paroleeresultslist1pc290Registrantphoto .last_name {width:10%}
#paroleeresultslist1pc290Registrantphoto .first_name {width:10%}
#paroleeresultslist1pc290Registrantphoto .action_date_search {width:8%}
#paroleeresultslist1pc290Registrantphoto .address_changed_date_search {width:8%}
#paroleeresultslist1pc290Registrantphoto .hrso {width:5%}
#paroleeresultslist1pc290Registrantphoto .gps {width:5%}
#paroleeresultslist1pc290Registrantphoto .address {width:14%}
#paroleeresultslist1pc290Registrantphoto .city {width:7%}
#paroleeresultslist1pc290Registrantphoto .zip {width:5%}
#paroleeresultslist1pc290Registrantphoto .status {width:8%}
#paroleeresultslist1pc290Registrantphoto .geo {width:3%}

.floatl {float:left; width:auto; padding-right:0.3%}
.floatr {float:right; width:auto}

#paroleeresultslist1 a.arrowup {width:auto; text-decoration:none}
#paroleeresultslist1 a.arrowdown {width:auto; text-decoration:none;}

#paroleeresultslist1withphoto a.arrowup {float:left; width:auto; text-decoration:none}
#paroleeresultslist1withphoto a.arrowdown {float:right; width:auto; text-decoration:none}

#paroleeresultslist1pc290Discharge a.arrowup {float:left; width:auto; text-decoration:none}
#paroleeresultslist1pc290Discharge a.arrowdown {float:right; width:auto; text-decoration:none}

#paroleeresultslist1pc290Dischargephoto a.arrowup {float:left; width:auto; text-decoration:none}
#paroleeresultslist1pc290Dischargephoto a.arrowdown {float:right; width:auto; text-decoration:none}

#paroleeresultslist1pc290Registrant a.arrowup {float:left; width:auto; text-decoration:none}
#paroleeresultslist1pc290Registrant a.arrowdown {float:right; width:auto; text-decoration:none}
#paroleeresultslist1pc290Registrantphoto a.arrowup {float:left; width:auto; text-decoration:none}
#paroleeresultslist1pc290Registrantphoto a.arrowdown {float:right; width:auto; text-decoration:none}
.errorMsg { color:#cc0000 }

#emailAgentTop .toaddress label{border:none; padding:0px; margin:0px; float:left; width:150px; font-weight:bold}
#emailAgentTop .fromaddress label{border:none; padding:0px; margin:0px; float:left; width:150px; font-weight:bold}
/* 10-18-2011 Added addcc for Agent Email -- L. Baird */
#emailAgentTop .addcc label{border:none; padding:0px; margin:0px; float:left; width:150px; font-weight:bold}
#emailAgentTop .inputnamesubject label{border:none; padding:0px; margin:0px; float:left; width:380px; font-weight:bold}

#savesearchform .sendemailbutton {float:left;
padding:10px 0;
text-align:center;
width:100%;
}
#savesearchform .sendemailbutton input {border:none}
.egtext {padding-left:114px}

#middlebottom div.paroleedetailsheaderdiv {float:left; width:auto; padding:0px}
#middlebottom div.paroleedetailsheaderdivtext {padding: 0px 0px 10px; clear:both}
#middlebottom div.paroleedetailsheaderdivarrowleft {float:left}
#middlebottom div.paroleedetailsheaderdivarrowright {float:right}
#middlebottom div.paroleedetailsheaderdivarrowright img{float:none; position:relative} 

body .wrapper {width:inherit;}
#searchbydiv .wrapper {width: 21%; float: left; clear: none; padding:0px; margin-right:18px}

#advSearchTop .centertext {text-align:center}
#advSearchTop .centertext div {text-align:center; width:275px}

#advSearchTop .centertexthaircolor {text-align:center; float:right}

#advSearchMiddle2 .padb10 {padding-bottom:10px}

#advSearchMiddle2 .andor1 {float:left;
margin-top:16px;
/*padding-right:35px;
width:180px;*/}

#advSearchTop input {width:170px;}
#advSearchTop select {width:170px;}

#advSearchTop #advSearchTopMiddlesmall div {padding:0 16px}
#advSearchTop #advSearchTopMiddlesmall2 div {padding:0 16px 0 23px}
#advSearchTop #advSearchTopMiddlesmall3 div {padding:0 16px 0 13px}
#advSearchTop #advSearchTopMiddlesmall3 div div {padding:0}
#advSearchTop select#reason {width:178px}

#advSearchMiddle2.smt {width:561px}
#advSearchMiddle2.tattoo {width:563px}
#advSearchMiddle2.offence {width:561px}
#advSearchMiddle2.buttons {width:550px}
#advSearchMiddle2.datadownloadbuttons {width:315px}
#advSearchMiddle2.savesearchbuttons {width:294px}

form {text-align:center}

form div div {text-align:left}

#advSearchMiddle2.tattoo .floatl {float:left; padding-right:5px}
.tattoo #advSearchMiddle2left {width:227px; padding-top:5px}
.tattoo #advSearchMiddle2right {width:227px; padding-top:5px}
#advSearchMiddle2.tattoo span {padding:0 10px 0 5px}
#advSearchMiddle2.tattoo input {width:108px}
#advSearchMiddle2.tattoo input.radio {width:auto}
#advSearchMiddle2.buttons img {padding:0px}

#savesearchform #advSearchTop input {width:137px}

#paroleeresultslist1pc290Registrantphoto td, #paroleeresultslist1pc290Registrant td, #paroleeresultslist1pc290Dischargephoto td, #paroleeresultslist1pc290Discharge td, #paroleeresultslist1withphoto td, #paroleeresultslist1 td, #paroleeresultslist1pc290Registrantphoto th, #paroleeresultslist1pc290Registrant th, #paroleeresultslist1pc290Dischargephoto th, #paroleeresultslist1pc290Discharge th, #paroleeresultslist1withphoto th, #paroleeresultslist1 th {border-bottom:1px solid #ddd; padding-left:0.3%; padding-right:0.3%}
#paroleeresultslist1pc290Registrantphoto td td, #paroleeresultslist1pc290Registrant td td, #paroleeresultslist1pc290Dischargephoto td td, #paroleeresultslist1pc290Discharge td td, #paroleeresultslist1withphoto td td, #paroleeresultslist1 td td, #paroleeresultslist1pc290Registrantphoto th th, #paroleeresultslist1pc290Registrant th th, #paroleeresultslist1pc290Dischargephoto th th, #paroleeresultslist1pc290Discharge th th, #paroleeresultslist1withphoto th th, #paroleeresultslist1 th  th{border-bottom:none; padding:5px 0px}

#paroleedetailspage .row2 {border:none; display:table}
#paroleedetailspage .row1 {border:none; display:table;background-color:#F7F7F7;float:none;width:100%;}

body .blanktable td {border-bottom:1px solid #DDDDDD; padding:4px;}

#refinmentsbutton .closebtnli, #refinmentsbutton .closebtnli a {background:#D26931 none repeat scroll 0 0}
div .arrowbuttondiv {padding-right:5px; float:left}
div .arrowbuttondiv img{cursor:pointer; float:left}
#parolledetailsdivtop #showall {color:#FFFFFF; cursor:pointer; float:left; font-weight:bold; padding-right:5px}
div .arrowbuttondivall {padding-right:5px; float: right; margin-top: -24px;}
div .arrowbuttondivall img{cursor:pointer; float:left}

#paroleeresultslist1 div.dropmenu {background-color:#D8D8D8; padding:1px; position:absolute; float:right; margin-top:-22px}
#paroleeresultslist1 div.dropmenu ul {list-style:none; background-color:#D8D8D8; border:1px solid #CCCCCC; border-bottom:none}
#paroleeresultslist1 div.dropmenu ul li {list-style:none; background-color:#D8D8D8; border-bottom:1px solid #CCCCCC; padding:0; margin:0}
#paroleeresultslist1 div.dropmenu a {color:#FFFFFF; text-decoration:none; padding:4px 8px; background-color:#515558; display:block;}
#paroleeresultslist1 div.dropmenu a:link {color:#FFFFFF; text-decoration:none; padding:4px 8px; background-color:#515558; display:block;}
#paroleeresultslist1 div.dropmenu a:active {color:#FFFFFF; text-decoration:none; padding:4px 8px; background-color:#515558; display:block;}
#paroleeresultslist1 div.dropmenu a:hover {color:#FFFFFF; text-decoration:none; padding:4px 8px; background-color:#E17236; display:block;}
#paroleeresultslist1 .menu {font-family: arial, verdana, sans-serif;}
#paroleeresultslist1 .menu .toggle {color: #999; font-size: 11px; font-weight: bold; cursor: hand; cursor: pointer; padding:0px;}
#paroleeresultslist1 .menu .toggle-hover {color: red;}
#paroleeresultslist1 .row1 div.items, #paroleeresultslist1 div.items {position:absolute; padding-right: 32px; padding-top: 0px; width:193px;}
#paroleeresultslist1 .menu .items ul, #paroleeresultslist1 .menu .items li {list-style-type: none; padding: 0; margin: 0;}
#paroleeresultslist1 .menu .items li {float: left; padding: 0 0px 0 0;}
#paroleeresultslist1 .menu .items a {font-size: 11px; font-weight: regular; color: #fff; text-decoration: none;}
#paroleeresultslist1 .menu .items a:hover {text-decoration: underline;}
#paroleeresultslist1 .menu .items a.current {color: #999;}
#paroleeresultslist1 #sddm ul, #paroleeresultslist1withphoto #sddm ul {position: absolute; margin: 0; padding: 0; z-index: 30; display:block; float:left; width:21px}
#paroleeresultslist1 #sddm li, #paroleeresultslist1withphoto #sddm li {margin: 0; padding: 0; list-style: none; float: left; font: bold 11px arial; width:21px;}
#paroleeresultslist1 #sddm li a, #paroleeresultslist1withphoto #sddm li a {display: block; width: 100px; height:19px; color: #FFF; text-align: center; text-decoration: none; width:21px;}
#paroleeresultslist1 #sddm div, #paroleeresultslist1withphoto #sddm div {position: absolute; display: none; margin: 0; padding: 0; background: #D4D0C8; border: 1px solid #d4d0c8; border-color:#d4d0c8 #404040 #404040 #d4d0c8; right:16px; z-index:1000}
#paroleeresultslist1 #sddm span.extrabrd, #paroleeresultslist1withphoto #sddm span.extrabrd {display:block; border:1px solid #fff; border-color:#fff #808080 #808080 #fff;}
#paroleeresultslist1 #sddm div a, #paroleeresultslist1withphoto #sddm div a {position: relative; display: block; margin: 0; padding: 5px 10px; width: auto; white-space: nowrap; text-align: left; text-decoration: none; background: #D4D0C8; color: #000000; font: 11px arial}
#paroleeresultslist1 #sddm div a:hover, #paroleeresultslist1withphoto #sddm div a:hover {background: #E17236; color: #FFF}
#advSearchTop .birthdate {padding:0 0 0 15px }
#advSearchTop #advSearchTopMiddle.vehicleyear div{padding:0 22px}
#advSearchTop #advSearchTopMiddle.vehicleyear div div {padding:0px}
#advSearchTop #advSearchTopMiddle.heightfield select {width:100px}
#advSearchTop .weightfield {padding-left:46px}
#advSearchTop .weightfield select {width:100px}

#advSearchMiddle2.radialbuttons img {padding:0px}
#advSearchMiddle2.radialbuttons {width:auto;}

#advSearchMiddle2.tattoo input {
	width:104px;
}

#advancedSearch #radialSearchTop #refinebymiddlediv input {
width:154px;
}