/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position:fixed;
	z-index:200;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
/*.TB_overlayBG {_filter:alpha(opacity=70);}*/
.TB_overlayBG {

	background: url(../../media/images/global/maskBG.png) repeat;
		

}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}


#TB_window {
	position:absolute;
	background: #ffffff;
	z-index: 202;
	color:#000000;
	display:none;
	border: 2px solid #cccccc;
	text-align:left;
	top:0px ;
	left:50%;
	float:left;
}


#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
	color:#555555;
}

#TB_ajaxWindowTitle{
	float:left;
/*	padding:7px 0 5px 10px;*/
padding-left:23px;
	margin-top:0px;
	padding-top:5px;
	text-transform:uppercase;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
	background:transparent url(../images/global/popup_bg.gif) repeat-x;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	z-index:1000;
	top: 50%;
	left: 40%;
	/*margin: -6px 0 0 -104px;  -height/2 0 0 -width/2 */
}



#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	_filter:alpha(opacity=0);
	_-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}



#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}

.caption {color:#FFFFFF; font-weight:normal; font-size:14px; font-family:"Arial Black"}
.caption1 {color:#fdba23; font-weight:normal; font-size:14px; font-family:"Arial Black"}